header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));

    .headerWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
        }

        .logo {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 24px;
            font-weight: 700;
            letter-spacing: -1px;
            color: #fafafa;
        }
        
        .search {
            display: inline-flex;
            padding: 5px;
            border-radius: 50px;
            transition: 0.4s;
        }

        .search:hover {
            background: rgba(255, 255, 255, 0.15);
        }

        .search:hover input {
            max-width: 180px;
        }

        .search input {
            background: transparent;
            border: 0;
            max-width: 0;
            padding: 0;
            text-indent: 12px;
            color: #f9f9f9;
            font-size: 22px;
            font-family: "Poppins";
            outline: none;
            transition: 0.4s;
        }

        .search input::placeholder {
            color: rgba(255, 255, 255, 0.375);
        }

        .search span {
            display: grid;
            place-items: center;
            width: 50px;
            height: 50px;
            background: #0a8be7;
            color: #f9f9f9;
            border-radius: inherit;
            font-size: 24px;
            pointer-events: none;
        }
    }
}